/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/*----- @font-face fonts -----*/

/* =======================================================================
   Variables
   =================================================================== */

$white: #ffffff; //footer text colour aussi
$mainGrey: #f3f3f3;
$headerBorder: #dfdfdf;
$newsBorder: #e0e0e0;
$newsHover: #e7e7e8;
$navPrimaryGrey: #666666;
$navSecondaryGrey: #777777;
$linkBlue: #0088ad;
$orange: #f78f1e;
$carouselSel: #6fcde4;
$carouselNorm: #ffffff;


/* ======================================================================
   Base styles: opinionated defaults
   =================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    min-width: 320px;
    color: $navSecondaryGrey;
    background-color: $mainGrey;
    font-family: arial, helvetica, sans-serif;
    min-width: 960px;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ==================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles

   ==================================================================== */
h1{
    text-indent: -99999px;
    margin: 0;
    padding: 0;
    position: absolute;
}

h2 {
    font-size: 40px;
    margin: 30px 0 0;
}
h3 {
    font-size: 25px;
    color: $white;
    margin: 0;
    font-family: myriad pro;
    font-weight: lighter;
    line-height: 25px;
}
h4{
    color: $navPrimaryGrey;
    font-size: 1em;
    margin: 0;
}
h6 {
    font-size: 12px;
    line-height: 12px;
    color: $white;   
    margin: 0;
    font-weight: bold;
    font-family: arial;
}

a:link {text-decoration: none; color: $linkBlue;}
a:visited {text-decoration: underline;}
a:hover {text-decoration: none;}
a:active {text-decoration: underline;}

p {
    color: $navPrimaryGrey;
    font-size: 0.8125em;/*13/16*/
    margin: 0;
}

ul {
	padding: 0;
	margin: 0;
}

li {    
    list-style: none;
    margin: 0;
    padding: 0;
}

::selection {
	background: light-blue; /* Safari */
}

::-moz-selection {
	background: light-blue; /* Firefox */
}

/*===================================Text Styles ======================*/

/*===================================Header======================*/

header {
    background: $white;
    border-bottom: 1px solid $headerBorder;
    padding-top: 20px;
    min-width: 960px;

    .wrapper {
        margin: 0 auto;
    }
    
    .logo {
        display: block;
        width: 130px;
        height: 100px;
        background-image: url(../img/spriteSheet.png);
        margin: 0 25px 25px;
    }
    
    nav {
        // width: 920px;
        // margin: 0 auto;

        ul {
            margin: 0;
    
                li a{
                    float: left;
                    padding: 10px 10px 10px 80px;
                    position: relative;
                }

                .magnify, .clock, .heart, .pen {
                    background: url(../img/navSpriteSheet.png) no-repeat;
                    width: 41px;
                    height: 41px;
                    position: absolute;
                    top: 12px;
                    left: 25px;
                }
                .magnify { background-position: 0px -42px;}
                .heart { background-position: 0px -82px;}
                .clock { background-position: 0px -124px;}
    
                span {
                    color: $navPrimaryGrey;
                    font-size: 22px;
                    font-weight: lighter;
                    line-height: 22px;
                }
    
                p {
                    color: $navSecondaryGrey;
                    font-size: 1em;
                    font-weight: lighter;
                    line-height: 1em;
                }

                a:hover {
                    background-color: $orange;
                }
        }
    }
}


/*===================================Wrapper======================*/

.wrapper {
    width: 960px;
    margin: 40px auto 0;
}

/*===================================Slider======================*/

.flexslider {
    width: 630px;
    height: 420px;
    margin: 5px;
    overflow: hidden;
    float: left;
    position: relative;
}

.slider{
    
    img {
        float: left;
        width: 630px;
    }
}

.flex-control-nav.flex-control-paging {
    position: absolute;
    right: 20px;
    top: 380px;

    .flex-active {
        background-color: $carouselSel;
    }

    li {
        float: left;

        a{
            display: block;
            width: 13px;
            height: 13px;
            background-color: $carouselNorm;
            border-radius: 10px;
            margin-left: 8.5px;
            text-indent: 999999px;
        }
    }
}

/*===================================Aside======================*/

aside {
    background-color: $white;
    float: left;
    width: 310px;
    height: 420px;
    margin: 5px;


    h3 {
        padding: 18px 0 17px 55px;
        background-color: $orange;
        position: relative;

        span {
            position: absolute;
            width: 30px;
            height: 30px;
            background: url(../img/navSpriteSheet.png);
            background-position: 0px -164px;
            top: 12px;
            left: 15px;
        }
    }

    .quickMenu {
        width: 270px;
        margin: 20px auto;
        
        li:first-child {
            border-top: none;
        }

        li {
            border-top: 1px solid $headerBorder;
            position: relative;

            a {
                display: block;
                padding: 10px 0 10px 17px;
                font-size: 13px;
                color: $navPrimaryGrey;
                font-weight: bold;
            }

            a:hover {
                background-color: $newsHover;
            }

            span {
                position: absolute;
                width: 8px;
                height: 10px;
                background: url(../img/navSpriteSheet.png);
                background-position: 0px -194px;
                top: 12px;
                left: 0px;
            }
        }

    }

}

/*===================================News======================*/

.news {
    width: 950px;
    margin: 0 5px 60px;

    article {
        width: 685px;
        border-bottom: 1px solid $headerBorder;
        padding: 20px 20px 20px 5px;

        span {
            font-size: 0.8125em;/*13/16*/
            font-weight: bold;
            line-height: 16px;
            color: $navPrimaryGrey;
            width: 150px;
            height: 80px;
            display: block;
            float: left;
            margin-left: 10px;
        }

        .primary {
            width: 370px;
            float: left;
            
            h4 {
                line-height: 16px;
            }

            p {
                margin-top: 9px;
            }

            .category a {
                text-decoration: underline;
            }
        }

        img {
            width: 130px;
            float: right;
        }
    }

    article:hover {
            background-color: $newsHover;
        }
}

/*====================================Footer===========================*/

footer {
    background-color: $linkBlue;
    padding: 15px 0;

    .wrapper {
        margin: 0 auto;
    }

    h6 {
        float: left;
    }
    
    .footerNav {
        float: right;
        line-height: 12px;
        
        li {
            float: left;
        }

        a {
            color: $white;
            font-family: arial;
            font-weight: lighter;
            font-size: 12px;
            line-height: 12px;
            margin-left: 15px;
        }
    }
}


/*--------------------------------- IE message -------------------------------------------*/

.ie-message {
    display: none;
}

.lt-ie8 .ie-message {
    display: block;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    width: 940px;
    background-color: #C5F4FF;
    color: #333333;
}

.ie-message p {
    font-size: 18px;
}

.ie-message p span {
    text-decoration: underline;
}

.ie-message a {
    font-size: 24px;
    display: block;
    width: 300px;
    padding: 10px;
    margin: 10px auto 0;
    background-color: silver;
    text-decoration: none;
    color:  #333333;
}
.ie-message a:hover {
    color: #db1f42;
    margin: 5px auto;
    border-bottom: 5px solid #333333;
}

.lt-ie8 .wrapper {
    display: none;
}

/* ==========================================================================
*******************************************************************************
   Mediaqueries
*******************************************************************************
   ========================================================================== */
@media only screen and (max-width: 960px) {
  

}//end of the 960 mediaquery   


@media only screen and (max-width: 756px) {
        
 

}//end of the 756 mediaquery    

@media only screen and (max-width: 500px) {

 
     
  
  
}//end of 500px mediaquery


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
